body {
    color: #5d5d5d;
    font-family: Helvetica, Arial, sans-serif;
}

h1 {
    font-size: 30px;
    margin: auto;
    margin-top: 50px;
}

.container {
    max-width: 800px;
    margin: auto;
}

.myText {
    /* background-color: #343434; */
    height: 100px;
    padding: 10px;
    /* color: #fff; */
    overflow: auto;
    margin: 10px;
}

/* Specific mapael css class are below
 * 'mapael' class is added by plugin
*/

.mapael .map {
    position: relative;
}

.mapael .mapTooltip {
    position: absolute;
    background-color: #fff;
    moz-opacity: 0.70;
    opacity: 0.70;
    filter: alpha(opacity=70);
    border-radius: 10px;
    padding: 10px;
    z-index: 1000;
    max-width: 200px;
    display: none;
    color: #343434;
}